@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300&display=swap');

html {
	font-family: "Fira Sans", sans-serif;
	min-height: 100vh;
	transition: 0.5s;
}

nav {
	display: flex;
	width: 20em;
	flex-direction: row;
	justify-content: space-around;
	margin: 2em;
	font-family: "Fira Sans", sans-serif;
	font-weight: 300;
	font-style: normal;
}

nav a {
	text-decoration: none;
	text-transform: uppercase;
	color: #555;
	transition: .3s;
	padding: 0.4em;
}

nav a:hover {
	color: #111;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	border-radius: 5px;
}

p {
	font-family: "Fira Sans", sans-serif;
	font-weight: 200;
}

.grid-container {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr auto auto;
	gap: 0px 0px;
	grid-template-areas:
		"menu menu menu menu"
		"content content content content"
		"footer footer footer footer";
}
.menu {
	grid-area: menu;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.menu h1 {
	margin-bottom: 0;
}

.menu h6 {
	transition: all 1s cubic-bezier(.25,.8,.25,1);
	opacity: 0;
	font-style: italic;
	font-weight: 200;
	font-size: 1.2em;
	padding: 0;
	margin: 0;
}

.menu h1:hover + h6 {
	opacity: 0.4;
}

.content {
	grid-area: content;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 1fr;
	gap: 0px 0px;
	grid-template-areas:
		"left right";
	justify-items: center;
}

.footer {
	grid-area: footer;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container {
	display:grid;
	grid-template-columns:repeat(3,250px);
	grid-auto-rows: 25px;
	grid-gap:0.9em;
	justify-content:center;
	grid-area: left / left / right / right;
}

.left {
	grid-area: left;
}

.right {
	grid-area: right;
}

h2 {
	text-align: center;
}

.item {
	border-radius:5px;
	padding:10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #fff;
}

.pic-item {
	border-radius:5px;
	padding:10px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	transition: all 0.3s cubic-bezier(.25,.8,.25,1);
	overflow: hidden;
	text-overflow: ellipsis;
	background-color: #fff;
	grid-row-end: span 10;
}

.pic-item img {
	margin-left: -5%;
	height:110%;
	width: 110%;
	margin-top: -5%;
	object-position: center;
	object-fit: cover;
}

.pic-item:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item p {
	font-family: "Fira Sans", sans-serif;
	font-weight: 300;
	font-style: normal;
	margin-top: 5px;
}

.item:hover {
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.item h4 {
	margin-top: 5px;
	margin-bottom: 5px;
}

.item img {
	margin-left: -5%;
	width:110%;
	margin-top: -5%;
}

.item:target {
	position: fixed;
	left: 50vw;
	top: 50vh;
	max-height: 80vh;
	width: 250px;
	transform: translate(-50%, -50%) scale(2);
	font-size: 50%;
	margin-left: 0;
	margin-right: 0;
	margin-top: 0;
	margin-bottom: 0;
}

.tier {
	display: flex;
	margin-bottom: 1.5em;
	margin-right: 2em;
}

.tier .img {
	border-radius:5px;
	object-fit: contain;
	align-self: flex-start;
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
	height: 10em;
	margin-left: 3em;
	margin-right: 1em;
}

.tier .text {
	flex: 1 1 auto;
	font-weight: 300;
	text-align: justify;
}

.tier .text h3 {
	margin-top: 0;
}

article.alma {
    width: 750px;
    left: 50%;
	grid-area: left / left / right / right;
}

.centered-container {
	max-width: 60em;
	align-self: center;
	grid-area: left / left / right / right;
}

@media (pointer: coarse), (pointer: none) {
	.container {
		display:grid;
		grid-template-columns:repeat(1, 100%);
		grid-auto-rows: 25px;
		grid-gap:0.9em;
		justify-content:center;
		grid-area: left / left / right / right;
	}
}
